{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block headlinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/jPicker-1.1.6.min.css">
{% endblock %}

{% form_theme form "BaseBundle:Form:form_layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col2">
                {{ include("AdminBundle:Layouts:side-nav.html.twig") }}

            </div>
            <div class="col10">
                <h1>Gestion des détails</h1>
            </div>
        </div>
        <div class="row">
            <div class="col2">
                <ul class="side-nav">
                    <li><a href="{{ path("admin_misc_color_new") }}">Ajouter une couleur</a></li>
                    <li><a href="{{ path("admin_misc_event_type_new") }}">Ajouter un type d'événement</a></li>
                </ul>
            </div>
            <div class="col10">
                <h2>Gestion des couleurs - Mise à jour</h2>

                <form class="hform" action="{{ path("admin_misc_color_update", {"id":entity.id}) }}" method="post" {{ form_enctype(form) }}>
                    <input type="hidden" name="_method" value="PUT" />
                    {{ form_widget(form) }}
                    <div class="form-row">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" formnovalidate>Mettre à jour</button>
                            <button type="reset" class="btn">Annuler</button>
                        </div>

                    </div>
                </form>
                <div id="colorresult">
                    <p style="padding: 15px;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col2"></div>
            <div class="col10">
                <h2>Supprimer la couleur</h2>
                <form action="{{ path('admin_misc_color_delete', { 'id': entity.id }) }}" method="post" class="hform">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <div class="form-row">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footscripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/vendor/jQuery/jpicker-1.1.6.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var examplebox = $("#colorresult p"), foreground = $("#color_foreground"), background = $("#color_background");

            if(foreground.val() == ""){
                foreground.val("000000");
                examplebox.css({"color": "#000000"});
            } else {
                examplebox.css({"color": "#" + foreground.val()});
            }
            if(background.val() == ""){
                background.val("ffffff");
                examplebox.css({"background-color": "#ffffff"});
            } else {
                examplebox.css({"background-color": "#" + background.val()});
            }


            foreground.jPicker(
                    {window:{position:{y:"bottom"}}},
                    null,
                    function(color, context){
                        var hex = color.val('hex');
                        examplebox.css(
                                "color",hex && '#' + hex || 'transparent'
                        );
                    });


            background.jPicker(
                    {window:{position:{y:"bottom"}}},
                    null,
                    function(color, context){
                        var hex = color.val('hex');
                        examplebox.css(
                                "background-color",hex && '#' + hex || 'transparent'
                        );
                    });
        });
    </script>
{% endblock %}
