{% extends "FrontBundle:Layouts:stylesAndLibs.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
        <div class="col2">
            

        </div>
        <div class="col10">
                //TODO quick search
        </div>
    </div>

        <div class="row">
            <div class="col2">
                {{ include("FrontBundle:Layouts:side-nav.html.twig") }}
                <ul class="side-nav">
                    <li><a href="{{ path("front_animal_homepage") }}">Liste des animaux</a></li>
                    <li><a href="">Liste des espèces</a></li>
                </ul>

            </div>
            <div class="col10">
                <h1>{{entity.commonName}}{% if entity.englishName %} <small>( {{entity.englishName}} )</small>{% endif %}</h1>
                {% if entity.latinName %} <h3>{{ entity.latinName }}</h3>{% endif %}
                <p><a href="{{entity.iucnLink}}" target="_blank"><span class="pins error">{{iucn.initial}}</span> {{iucn.name}} ({{iucn.name_fr}})</a></p>
                <h3>Description</h3>
                <p>{{entity.description}}</p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Hauteur</th>
                            <th>Longueur</th>
                            <th>Poids</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Mâle</th>
                            <td>{{entity.hMale}}</td>
                            <td>{{entity.lMale}}</td>
                            <td>{{entity.wMale}}</td>
                        </tr>
                        <tr>
                            <th>Femelle</th>
                            <td>{{entity.hFemale}}</td>
                            <td>{{entity.lFemale}}</td>
                            <td>{{entity.wFemale}}</td>
                        </tr>
                        <tr>
                            <th>Petit</th>
                            <td>{{entity.hBaby}}</td>
                            <td>{{entity.lBaby}}</td>
                            <td>{{entity.wBaby}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}